@{
  Layout = "_Layout";
}

@model GameStore.Models.User;

<h3>Game Details</h3>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(Model.JoinEntities.Count == 0)
{
  <p>This user has no games</p>
}
else
{
  <h4>Games on this user's Wishlist</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Game.Name</li>
      @using(Html.BeginForm("DeleteGame", "Users"))
      {
        @Html.Hidden("joinId", @join.GameUserId)
        <input type = "submit" value = "Delete" class = "btn btn-dark">
      }
    }
  </ul>
}

@if(ViewBag.NoGames)
{
  <h2>there are no games available</h2>
}
else
{
  <p>Add a game to this user's wishlist</p>
  @using (Html.BeginForm("AddGame", "Users"))
  {
    @Html.HiddenFor(model => model.UserId)

    @Html.Label("Add Game")
    @Html.DropDownList("GameId")

    <input type="submit" value="save"/>
  }

}
<p>@Html.ActionLink("Back", "Index", "Users")</p>